{% set current = getOption('captcha.current') %}
{% set driver_name = (driver_name is empty) ? current : driver_name %}

<div class="mt-4 flex flex-row items-start">
    <div class="w-1/2"> 
        {% component 'system:admin.panel' %}
            <div class="form mt-2">
                <div class="{{ theme.form.field }}">
                    <label class="{{ theme.form.label }}">
                        {{ labels.default }}
                    </label>          
                    {{  component('system:admin.drivers.dropdown',{ 
                            selected: driver_name, 
                            category: 'captcha' 
                        }) 
                    }}
                </div>
            </div>
        {% endcomponent %}
    </div>
    <div class="w-1/2 ml-4">        
    </div>
</div>