{% set drivers = service('driver').getList('captcha') %}
{% set current = getOption('captcha.current') %}
{% set buttons = [
    { icon: "code", class: "view-button", title: labels.view }
] %}
<div class="ui two column grid">
    <div class="column">
        <div class="ui segment">
            {{  component('system:admin.drivers.list',{ 
                    category: 'captcha', 
                    current : current, 
                    buttons: buttons 
                }) 
            }}
        </div>
    </div>
    <div class="column" id="capcha_driver_config">        
    </div>
</div>
