{% set driver_name = (driver_name is empty) ? 'recaptcha' : driver_name %}
{% set component = 'captcha::code.' ~ driver_name %}

{% if driver_name is not empty %}
    {{ component(component) }}
{% else %}
    <div class="ui stackable grid">
        <div class="ui five wide computer sixteen wide tablet column segment">
            <div class="ui form">
                <div class="field">
                    <label>{{ labels.type }}</label>
                    {{ component('system:admin.modules.dropdown',{ category: 'captcha' }) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}