{{  component('system:admin.tabs',{ 
        items: [ 
            {               
                title: labels.view.content, 
                component: 'captcha::admin.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            {               
                title: labels.settings.content, 
                component: 'captcha::admin.settings', 
                svg_icon: 'icons~cog', 
            }
        ],
        menu: {           
            extension: 'captcha' 
        },
        content: { 
            component: 'captcha::admin.view' 
        } 
    })
}}