{% set config = service('driver').getConfig('cloudflare') %}
{% set site_key = config.getValue('site_key') %}
 <script>
    function onloadTurnstileCallback() {      
        var siteKey = $('#turnsite_captcha').attr('data-sitekey');

        turnstile.render('#turnsite_captcha',{
            sitekey: siteKey,
            theme: 'light'
        });
    };
</script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" defer ></script>
<div
  id="turnsite_captcha"
  data-sitekey="{{ site_key }}">
</div>
